//Place all the styles related to the Tops controller here.
// They will automatically be included in application.css.
//You can use Sass (SCSS) here: https://sass-lang.com/
.con {
  background-image: url('https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg') ;
  height: 800px;
  background-size:cover;
}

